name: CI

on:
  pull_request:
  push:
    branches:
      - main

env:
  FORCE_COLOR: 3

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        node:
          - 24
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
          - ubuntu-24.04-arm
          - windows-11-arm

    steps:
      - name: Check out repository
        uses: actions/checkout@v5.0.0

      - name: Set up Node.js ${{ matrix.node }}
        uses: actions/setup-node@v6.0.0
        with:
          node-version: ${{ matrix.node }}

      - run: npm ci

      - run: npm test
