name: Release

on:
  release:
    types:
      - published

env:
  FORCE_COLOR: 3
  NODE_VERSION: 24

jobs:
  publish:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      id-token: write

    steps:
      - name: Get version from tag
        id: tag_name
        run: echo "current_version=${GITHUB_REF#refs/tags/v}" >> $GITHUB_OUTPUT

      - name: Check out repository
        uses: actions/checkout@v5.0.0

      - name: Set up Node.js
        uses: actions/setup-node@v5.0.0
        with:
          node-version: ${{ env.NODE_VERSION }}
          registry-url: "https://registry.npmjs.org"

      - name: Get changelog entry
        uses: mindsers/changelog-reader-action@v2.2.3
        id: changelog_reader
        with:
          version: ${{ steps.tag_name.outputs.current_version }}

      - name: Update release with changelog contents
        uses: softprops/action-gh-release@v2.3.2
        id: release_updater
        with:
          body: ${{ steps.changelog_reader.outputs.changes }}

      - run: npm ci

      - run: npm test

      - run: npm whoami && npm --ignore-scripts publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}
